@keyframes entrance-animation {
  from {
    right: -1000px;
}

  to {
    right: 0px;
  }
}

@keyframes speech-animation {
  from {
    opacity: 0;
}

  to {
    opacity: 1;
  }
}

.feedback {
  position: absolute;
  bottom: 0px;
  right: -1000px;
  animation: entrance-animation 2s ease-in-out forwards;
  animation-delay: 15s;

  &__text {
    font-size: 3rem;
    color:black;
    margin: 0px;
    max-width: 25vw;
    text-align: right;
    width: fit-content;
  }

  &__bubble {
    position:relative;
    width: fit-content;
    background-color: white;
    right: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: speech-animation 2s ease-in-out forwards;
    animation-delay: 17s;
    border-radius: 0.5rem;
    font-style: italic;


    &:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid white;
      border-top: 10px solid white;
      border-bottom: 10px solid transparent;
      right: 120px;
      bottom: -19px;
    }
  }

  &__image {
    height: 25vh;
    width: auto;
    float: right;
  }
}