@keyframes fall-down-title-animation {
  from {
      transform: translateY(-100vh) rotate(10deg);
}

  to {
      transform : translateY(0) rotate(-15deg);
  }
}

.title {
  position: absolute;
  top: 6vh;
  left: 3vw;

  animation: fall-down-title-animation 3s linear forwards;

  transform: rotate(-15deg);

  &__text {
    font-size: 4rem;
    color:white;
  }
}